- content_for :head do
  :javascript
    $(document).ready(function() {
      $("li#nav1").addClass("active");
    })

.hero-unit{style: "padding: 20px; overflow-x: visible; width: 100%; left: -20px; position: relative;"}
  .row-fluid
    .span6
      %h3 Locate Your Pack
      = form_tag "/", class: "form-search", style: "margin-top: 60px;" do
        = text_field_tag "Search", nil, class: "input-large", style: "height: 36px; font-size: 32px;"
        = submit_tag "Search", class: "btn btn-large btn-info"
    .span6{style: "height: 404px;"}
      = image_tag "wolfPaw.png", style: "overflow-y: visible; top: -20px; position: relative;"


.wolfpacks-container.clearfix
  .row-fluid
    .span8
      %h3{style: "padding-left: 10px;"} Explore the Wilderness
    .span4
      = link_to 'Create Pack', new_wolf_pack_path, class: "btn btn-large btn-success", style: "float: right;"

  - colors = %w(#00B579 #F3152B #00924E #692F8C #0072B7 #D7DF4F #FB923A)
  - @wolf_packs.each do |wolf_pack|
    .wolfpack
      %h3.wolfpack-tag{style: "background: #{colors.sample}"}= link_to wolf_pack.name, wolf_pack
