<h1>New wolf_pack</h1>

<%= form_for(@wolf_pack) do |f| %>
  <% if @wolf_pack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wolf_pack.errors.count, "error") %> prohibited this wolf_pack from being saved:</h2>

      <ul>
      <% @wolf_pack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
