!!! 5
%html
  %head
    %title WolfPackApp
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .navbar.navbar-static-top
      .navbar-inner
        = link_to "WOLF PACKS", root_url, class: "brand"
        %ul.nav
          %li#nav1= link_to "Home", root_url
          %li#nav2
            - if user_signed_in?
              = link_to "Profile", edit_user_registration_path
            - else
              = link_to "Register", new_user_registration_path
        %ul.nav.pull-right
          %li#nav3
            - if user_signed_in?
              = link_to "Logout", destroy_user_session_path, :method => :delete
            - else
              = link_to "Login", new_user_session_path
    .row{style: "margin-top: 20px"}
      .span8.offset2
        .notice.hide= notice
        .alert.hide= alert
        = yield
